//FONT-COLOR
$font-color-1: #fff;
$font-color-2: #282727;
$font-color-hover: #ffe91e;
$font-color-dots: #fa9b93;


//BACKGROUNG
$bg-color-1: #f94626;
$bg-color-2: #f02328;
$bg-color-3: #000;
$bg-color-4: #fff;
$bg-color-5: #f8381e;
$bg-color-6: #d91213;
$bg-color-7: #f82724;
$bg-color-8: #ffc41e;
$bg-color-9: #f2dfd1;


//BORDER
$border-color-1: #fa5731;
$border-color-2: #f9482f;
$border-color-3: #e5100d;

//BOX-SHADOW
$bs-color-1: #fc826f;
$bs-color-2: #ffdfbd;


//TRANSITION
@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

//MAPS
$font-weights: (
  "small": 200,
  "small-medium": 300,
  "regular": 400,
  "medium": 500,
  "medium-large": 600,
  "large": 700,
  "extra-large": 800,
  "extra-extra-large": 900
);


