.menu {
  position: relative;
  width: 65%;
  height: 125px;
  border: 1px solid #000;
  margin: auto;

  &_sec {
    display: flex;
    width: 92%;
    height: 100%;
    border: 1px solid #000;
    margin: auto;
    overflow-x: auto;
    scroll-behavior: smooth;

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-width: 115px;
      height: 100%;
      border: 1px solid #000;
      font-size: 13px;
      font-weight: map-get($font-weights, regular);
      color: $font-color-2;
      cursor: pointer;

      img {
        width: 100%;

        .border {
          position: absolute;
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }    
  }
}