@media (max-width: 1330px) {
  header {
    nav {
      width: 80%;
    }

    section {
      width: 80%;
    }

    .menu {
      width: 80%;
    }

    .card_bx {
      .cards_bx1 {
        width: 80%;

        .card {
          width: 32%;
        }

        .card_b {
          width: 40%;
        }
      }
    }    
  }

  .socials {
    height: auto;
    padding-bottom: 20px;

    .socials2 {
      .social_box {
        .twitter {
          width: 100%;
          margin: 5px 0px;
        }

        .facebook {
          width: 100%;
          height: 100px;
          margin: 5px 0px;

          &:nth-child(1) {
            width: 100%;
            height: 170px;
          }
        }
      }
    }
  }
}

@media (max-width: 1351px) {
  .socials {
    height: 170%;
    padding-bottom: 20px;

    .socials2 {
      .social_box {
        .twitter {
          width: 100%;
          margin: 5px 0px;
        }

        .facebook {
          width: 100%;
          height: 100%;
          margin: 5px 0px;
        }
        
        .instagram {
          width: 100%;
          height: 100%;
          margin: 5px 0px;
        }
      }
    }
  } 
}